@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width:992px) {
    body, html{
        background: url(../imagens/pattern-lol-embassada.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    section#login{
        width: 80vw;
        height: 400px;
        /*box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.158);*/
        
    }

    /*Imagem*/
    div#imagem{
        background: url(../imagens/Leona-pattern-modificada2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:  center;
        
        border-top-right-radius: 0px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;

        float: left;
        width: 30%;
        height: 100%;
        
        box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.150);
        
        
    }

    div#formulario{
        float: right;
        width: 70%;

    }

    div#formulario>h1{
        font-size: 2em;
    }

    div#formulario>p{
        font-size: 1.3em;
    }
    
    /*CAMPO*/
    form>div.campo{
        width: 90%;
        height: 45px; 
        margin: 15px auto;
        border: 3px solid var(--cor-fundo);      
    }

    div.campo > span{
        font-size: 2em;
        /*background-color: black;*/
        width: 45px;
        padding: 4px 0px 3px 8px;
    
    }
    
    div.campo > input{

        font-size: 1em;
        width: calc(100% - 50px);
        height: 100%;   
        transform: translateY(-10px);
    }

    /*BOTÕES*/ 
    form > input[type=submit]{
                
        font-size: 1.5em;
        width: 90%;
        height: 45px;
        padding-bottom: 3px;
        margin: 0 auto;
            
    }


    form>a.botao{
        font-size: 1em;
        width: 50%;
        height: 35px;
        padding-top: 5px;
        margin: 0px auto;
        margin-top: 12px;       
    }
}

    

    

@media screen and (min-width: 992px) {
    body{
        background: url(../imagens/pattern-lol-embassada.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        

    }

    section#login{
        width: 950px;
        height: 490px;
        /*box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.158);*/
        
    }

    div#imagem{
        float: right;
        width: 50%;
        height: 100%;

        background: url(../imagens/ziggsedaora.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:  right;

        border-top-right-radius: 15px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;border-bottom-right-radius: 15px;

        box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.150);
    }

    div#formulario{
        float: left;
        width: 50%;
    }

    div#formulario>h1{
       font-size: 2.5em;
    }

    div#formulario>p{
        font-size: 1.3em;
        padding: 10px 0px;
    }
    
    /*CAMPO*/
    form>div.campo{
        width: 90%;
        height: 55px; 
        margin: 15px auto;
        border: 3px solid var(--cor-fundo);      
    }

    div.campo > span{
        font-size: 2.45em;
        /*background-color: black;*/
        width: 50px;
        padding: 6px 0px 0px 8px;
    
    }
    
    div.campo > input{

        font-size: 1em;
        width: calc(100% - 55px);
        height: 100%; 
        transform: translateY(-14px);  
    }

    /*BOTÕES*/ 
    form > input[type=submit]{
                
        font-size: 1.5em;
        width: 70%;
        height: 50px;
        padding-bottom: 5px;
        margin: 0 auto;
        border-radius: 15px;
            
    }


    form>a.botao{
        font-size: 1em;
        width: 50%;
        height: 35px;
        padding-top: 5px;
        margin: 0px auto;
        margin-top: 12px;       
    }

}